:host {
  margin-top: 2em;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }

  table {
    width: 60%;
    margin: 0 auto;

    .mat-footer-cell,
    .mat-header-cell {
      font-weight: bold;
    }

    .mat-header-cell {
      font-size: 20px;
    }
  }
}
