.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
  mat-divider { 
    border: 1px solid;
    margin-top: 2em;
    width: 40%;
  }

  .title {
    
    margin:0;
    padding:50px 20px;
  }

  app-form, app-list{
    width: 100%;
  }

}
